
.nowrap {
	white-space: nowrap;
}

.transparent {
	background-color: transparent;
}

/*
--------------------
Colors
--------------------
*/

.primary-color {
	color: $primary_color;
}

.primary-bg,
.has-primary-background-color {
	background-color: $primary_color;
}

.secondary-color {
	color: $secondary_color;
}

.secondary-bg,
.has-secondary-background-color {
	background-color: $secondary_color;
}

.tertiary-color {
	color: $tertiary_color;
}

.tertiary-bg,
.has-tertiary-background-color {
	background-color: $tertiary_color;
}

.white-color {
	color: #ffffff;
}

.white-bg {
	background-color: #ffffff;
}

.black-color {
	color: #000000;
}

.black-bg {
	background-color: #000000;
}

.transparent-bg {
	background-color: transparent;
}

/*
--------------------
Text Size
--------------------
*/

.xs-text {
	font-size: $size_9;
}

.sm-text {
	font-size: $size_10;
}

.md-text {
	font-size: $size_11;
}

.lg-text {
	font-size: $size_12;
}

.xl-text {
	font-size: $size_13;
}

/*
--------------------
Padding
--------------------
*/

.no-padding {
	padding-top: 0;
	padding-bottom: 0;
}

.xs-padding {
	padding-top: $size_3;
	padding-bottom: $size_3;
}

.sm-padding {
	padding-top: $size_5;
	padding-bottom: $size_5;
}

.md-padding {
	padding-top: $size_7;
	padding-bottom: $size_7;
}

.lg-padding {
	padding-top: $size_9;
	padding-bottom: $size_9;
}

.xl-padding {
	padding-top: $size_11;
	padding-bottom: $size_11;
}

/*
--------------------
Flex Layout
--------------------
*/

.flex-container {
	display: table;
	width: 100%;
	@include flex;

	@media screen\9 {
		@include clearfix;
	}
    
	@media screen\0 {
		@include clearfix;
	}
}

.flex-item {
	display: table-cell;
	@include flex;
}

.flex-left {
	float: left;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
			justify-content: flex-start;
}

.flex-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
}

.flex-right {
	float: right;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
			justify-content: flex-end;
}

.flex-top {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
		-ms-flex-align: start;
			align-items: flex-start;
}

.flex-middle {
	vertical-align: middle;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
}

.flex-bottom {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
		-ms-flex-align: end;
			align-items: flex-end;
}

.flex-stretch {
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
		-ms-flex-align: stretch;
			align-items: stretch;
}

.flex-around {
	-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
			justify-content: space-around;
}

.flex-between {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
			justify-content: space-between;
}

.flex-wrap {
	-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
}

.flex-col {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
}

.flex-row {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
		-ms-flex-direction: row;
			flex-direction: row;
}

.flex-col-rev {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
}

.flex-row-rev {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
			flex-direction: row-reverse;
}

/*
--------------------
Containers
--------------------
*/

.container {
	width: 100%;
	max-width: $lg_container;
	padding-left: $site_padding;
	padding-right: $site_padding;
	margin-left: auto;
	margin-right: auto;

	&.sm-container {
		max-width: $sm_container;

		.wp-block-group {
			margin-left: calc(-100vw / 2 - #{$sm_container} / 2);
			margin-right: calc(-100vw / 2 - #{$sm_container} / 2);

			> .wp-block-group__inner-container {
				width: 100vw;
				max-width: $sm_container;
				padding-left: $site_padding;
				padding-right: $site_padding;
				margin-left: auto;
				margin-right: auto;
			}
		}

		.wp-block-code.full-width {
			margin-left: calc(-100vw / 2 - #{$sm_container} / 2);
			margin-right: calc(-100vw / 2 - #{$sm_container} / 2);

			> code {
				width: 100vw;
				max-width: $sm_container;
				padding-left: $site_padding;
				padding-right: $site_padding;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&.md-container {
		max-width: $md_container;

		.wp-block-group {
			margin-left: calc(-100vw / 2 - #{$md_container} / 2);
			margin-right: calc(-100vw / 2 - #{$md_container} / 2);

			> .wp-block-group__inner-container {
				width: 100vw;
				max-width: $md_container;
				padding-left: $site_padding;
				padding-right: $site_padding;
				margin-left: auto;
				margin-right: auto;
			}
		}

		.wp-block-code.full-width {
			margin-left: calc(-100vw / 2 - #{$md_container} / 2);
			margin-right: calc(-100vw / 2 - #{$md_container} / 2);

			> code {
				width: 100vw;
				max-width: $md_container;
				padding-left: $site_padding;
				padding-right: $site_padding;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&.lg-container {
		max-width: $lg_container;

		.wp-block-group {
			margin-left: calc(-100vw / 2 - #{$lg_container} / 2);
			margin-right: calc(-100vw / 2 - #{$lg_container} / 2);

			> .wp-block-group__inner-container {
				width: 100vw;
				max-width: $lg_container;
				padding-left: $site_padding;
				padding-right: $site_padding;
				margin-left: auto;
				margin-right: auto;
			}
		}

		.wp-block-code.full-width {
			margin-left: calc(-100vw / 2 - #{$lg_container} / 2);
			margin-right: calc(-100vw / 2 - #{$lg_container} / 2);

			> code {
				width: 100vw;
				max-width: $lg_container;
				padding-left: $site_padding;
				padding-right: $site_padding;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&.xl-container {
		max-width: $xl_container;

		.wp-block-group {
			margin-left: calc(-100vw / 2 - #{$xl_container} / 2);
			margin-right: calc(-100vw / 2 - #{$xl_container} / 2);

			> .wp-block-group__inner-container {
				width: 100vw;
				max-width: $xl_container;
				padding-left: $site_padding;
				padding-right: $site_padding;
				margin-left: auto;
				margin-right: auto;
			}
		}

		.wp-block-code.full-width {
			margin-left: calc(-100vw / 2 - #{$xl_container} / 2);
			margin-right: calc(-100vw / 2 - #{$xl_container} / 2);

			> code {
				width: 100vw;
				max-width: $xl_container;
				padding-left: $site_padding;
				padding-right: $site_padding;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.wp-block-group.skew:first-child {
		margin-top: -3.56vw;
	}

	.wp-block-group.skew:last-child {
		margin-bottom: -3.56vw;
	}

}

.container-full {
	width: 100%;
	padding-left: $site_padding;
	padding-right: $site_padding;

	.wp-block-group {
		margin-left: -$site_padding;
		margin-right: -$site_padding;
		padding: $site_padding;
	}

	.wp-block-group.skew:first-child {
		margin-top: -3.56vw;
	}

	.wp-block-group.skew:last-child {
		margin-bottom: -3.56vw;
	}

	.wp-block-code.full-width {
		margin-left: -$site_padding;
		margin-right: -$site_padding;
		padding: $site_padding;
	}
}



.wp-block-group {
	position: relative;
	margin-top: $size_15;

	&:not(.custom-bottom) {
		z-index: 1;
		padding-top: $size_15;
		padding-bottom: $size_15;
	}

	+ *:not(.wp-block-group) {
		margin-top: $size_15;
	}

	+ .wp-block-group {
		margin-top: 0;
	}

	+ .wp-block-code.full-width {
		margin-top: 0;
	}

	> * {
		position: relative;
		z-index: 5;
	}

	&.primary-bg {

		&::before {
			background-color: $primary_color;
		}

		&::after {
			background-color: $primary_color;
		}
	}

	&.secondary-bg {

		&::before {
			background-color: $secondary_color;
		}

		&::after {
			background-color: $secondary_color;
		}
	}

	&.tertiary-bg {

		&::before {
			background-color: $tertiary_color;
		}

		&::after {
			background-color: $tertiary_color;
		}
	}

	&.skew {
		z-index: 2;
	}

	&.skew + .wp-block-group:not(.skew) {
		margin-top: -$site_padding;
		padding-top: calc(#{$site_padding} * 3);
		padding-bottom: calc(#{$site_padding} * 2);
		z-index: 1;
	}

	&:not(.skew) + .wp-block-group.skew {
		margin-top: -$site_padding;
		z-index: 0;
	}

	&.skew-left {
		background-color: transparent;
		padding-top: $size_19;
		padding-bottom: $size_19;

		&::before {
			content: "";
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transform:skewY(-2.5deg);
		}
	}

	&.skew-right {
		background-color: transparent;
		padding-top: $size_19;
		padding-bottom: $size_19;

		&::before {
			content: "";
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transform:skewY(2.5deg);
		}
	}

	// &.round-bottom {
	// 	padding-top: calc(#{$site_padding} * 2);
	// 	padding-bottom: calc(#{$site_padding} * 2);
	// 	//overflow: hidden;

	// 	&::after {
	// 		content: "";
	// 		position: absolute;
	// 		z-index: 0;
	// 		top: 0;
	// 		left: 0;
	// 		right: 0;
	// 		bottom: 0;
	// 		border-bottom-left-radius: 25%;
	// 		border-bottom-right-radius: 25%;
	// 	}
	// }

	.wp-block-group__inner-container > *:first-child {
		margin-top: 0;

		> *:first-child {
			margin-top: 0;
		}
	}

	.wp-block-group__inner-container > *:last-child {
		margin-bottom: 0;

		> *:last-child {
			margin-bottom: 0;
		}
	}
}

.wp-block-code {
	background-color: #e0e0e0;
	padding-top: $size_11;
	padding-bottom: $size_11;

	&.full-width {
		margin-top: $size_15;
		margin-bottom: $size_15;
	}

	&:not(.full-width) {
		padding-left: $size_11;
		padding-right: $size_11;
	}

	code {
		display: block;
	}
}