/*
Theme Name: Autosite
Theme URI: https://autosite.io/theme
Author: Autosite
Author URI: https://autosite.io/
Description: The Autosite theme is a total solution for your WordPress website. It combines the powerful functionality of the Block Editor with the flexibility of the Customizer. No page builders or advanced customizations needed!
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:  one-column, two-columns, right-sidebar, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: autosite-last

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Normalize
# Typography
	## Headings
	## Copy
# Elements
	## Lists
	## Tables
# Forms
	## Buttons
	## Fields
# Navigation
	## Links
	## Menus
	## Next & Previous
# Accessibility
# Alignments
# Clearings
# Layout
# Widgets
# Content
	## Archives
	## Posts and pages
	## Comments
# Blocks
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/* Normalize */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Typography */
/* Elements */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.1;
  font-size: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #FFFFFF;
  position: relative;
}

h1 {
  font-size: 2.67rem;
}

h2 {
  font-size: 2.37rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.77rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.33rem;
}

a {
  color: #390099;
}

article {
  width: 100%;
}

aside {
  width: 40%;
}
aside.left {
  margin-right: 5.62vw;
}
aside.right {
  margin-left: 5.62vw;
}

.widget-area {
  list-style: none;
  margin: 0;
  padding: 0;
}

.widget:nth-child(1) .widgettitle {
  margin-top: 0;
}

.wp-caption {
  font-size: 1rem;
  max-width: 100%;
}
.wp-caption.alignleft, .wp-caption.alignright {
  text-align: left;
}
.wp-caption.aligncenter {
  text-align: center;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  background-color: #282c34;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  background-color: #282c34;
}

.line-numbers .line-numbers-rows {
  left: calc(5.62vw - 3em);
}

/* Forms */
/* Navigation */
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#main-menu,
#secondary-menu {
  margin: 0;
  list-style: none;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  #main-menu,
  #secondary-menu {
    display: none;
  }
}
#main-menu li a,
#secondary-menu li a {
  color: #ffffff;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  display: block;
  text-decoration: none;
}
#main-menu .button a,
#secondary-menu .button a {
  background-color: #3DDC97;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  margin-left: 1rem;
}
#main-menu .button a:hover, #main-menu .button a:focus,
#secondary-menu .button a:hover,
#secondary-menu .button a:focus {
  background-color: #ffffff;
}
#main-menu .menu-item,
#secondary-menu .menu-item {
  position: relative;
}
#main-menu .sub-menu,
#secondary-menu .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 100%;
  right: 0;
  background-color: #390099;
  padding: 0;
  list-style: none;
  text-align: right;
}
#main-menu .sub-menu .menu-item,
#secondary-menu .sub-menu .menu-item {
  white-space: nowrap;
}
#main-menu .sub-menu a,
#secondary-menu .sub-menu a {
  color: #ffffff;
}

.menu-item-has-children > a::after {
  margin-left: 0.42rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  font-size: .65em;
  vertical-align: middle;
}

.menu-item > a[target="_blank"]::after {
  margin-left: 0.42rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f35d";
  font-size: .65em;
  vertical-align: middle;
}

#overlay-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
#overlay-nav #main-nav {
  height: 100%;
  width: 100%;
  padding: 5.62vw;
}

/*--------------------------------------------------------------
## Next / Previous
--------------------------------------------------------------*/
/* Accessibility */
.show-on-focus:not(:focus):not(:active) {
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

.skip {
  position: absolute;
  top: 0;
  left: 0;
}

/* Alignments */
.alignleft {
  float: left;
  margin: 1em;
  margin-left: 0;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.alignright {
  float: right;
  margin: 1em;
  margin-right: 0;
}

/* Clearings */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/* Layout */
.nowrap {
  white-space: nowrap;
}

.transparent {
  background-color: transparent;
}

/*
--------------------
Colors
--------------------
*/
.primary-color {
  color: #390099;
}

.primary-bg,
.has-primary-background-color {
  background-color: #390099;
}

.secondary-color {
  color: #3DDC97;
}

.secondary-bg,
.has-secondary-background-color {
  background-color: #3DDC97;
}

.tertiary-color {
  color: #DFDCE5;
}

.tertiary-bg,
.has-tertiary-background-color {
  background-color: #DFDCE5;
}

.white-color {
  color: #ffffff;
}

.white-bg {
  background-color: #ffffff;
}

.black-color {
  color: #000000;
}

.black-bg {
  background-color: #000000;
}

.transparent-bg {
  background-color: transparent;
}

/*
--------------------
Text Size
--------------------
*/
.xs-text {
  font-size: 1.33rem;
}

.sm-text {
  font-size: 1.5rem;
}

.md-text {
  font-size: 1.77rem;
}

.lg-text {
  font-size: 2rem;
}

.xl-text {
  font-size: 2.37rem;
}

/*
--------------------
Padding
--------------------
*/
.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.xs-padding {
  padding-top: 0.56rem;
  padding-bottom: 0.56rem;
}

.sm-padding {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.md-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.lg-padding {
  padding-top: 1.33rem;
  padding-bottom: 1.33rem;
}

.xl-padding {
  padding-top: 1.77rem;
  padding-bottom: 1.77rem;
}

/*
--------------------
Flex Layout
--------------------
*/
.flex-container {
  display: table;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen\9 {
  .flex-container {
    content: "";
    display: table;
    table-layout: fixed;
  }
}
@media screen\0 {
  .flex-container {
    content: "";
    display: table;
    table-layout: fixed;
  }
}

.flex-item {
  display: table-cell;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-left {
  float: left;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-right {
  float: right;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-middle {
  vertical-align: middle;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.flex-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-col-rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.flex-row-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/*
--------------------
Containers
--------------------
*/
.container {
  width: 100%;
  max-width: 1300px;
  padding-left: 5.62vw;
  padding-right: 5.62vw;
  margin-left: auto;
  margin-right: auto;
}
.container.sm-container {
  max-width: 900px;
}
.container.sm-container .wp-block-group {
  margin-left: calc(-100vw / 2 - 900px / 2);
  margin-right: calc(-100vw / 2 - 900px / 2);
}
.container.sm-container .wp-block-group > .wp-block-group__inner-container {
  width: 100vw;
  max-width: 900px;
  padding-left: 5.62vw;
  padding-right: 5.62vw;
  margin-left: auto;
  margin-right: auto;
}
.container.sm-container .wp-block-code.full-width {
  margin-left: calc(-100vw / 2 - 900px / 2);
  margin-right: calc(-100vw / 2 - 900px / 2);
}
.container.sm-container .wp-block-code.full-width > code {
  width: 100vw;
  max-width: 900px;
  padding-left: 5.62vw;
  padding-right: 5.62vw;
  margin-left: auto;
  margin-right: auto;
}
.container.md-container {
  max-width: 1100px;
}
.container.md-container .wp-block-group {
  margin-left: calc(-100vw / 2 - 1100px / 2);
  margin-right: calc(-100vw / 2 - 1100px / 2);
}
.container.md-container .wp-block-group > .wp-block-group__inner-container {
  width: 100vw;
  max-width: 1100px;
  padding-left: 5.62vw;
  padding-right: 5.62vw;
  margin-left: auto;
  margin-right: auto;
}
.container.md-container .wp-block-code.full-width {
  margin-left: calc(-100vw / 2 - 1100px / 2);
  margin-right: calc(-100vw / 2 - 1100px / 2);
}
.container.md-container .wp-block-code.full-width > code {
  width: 100vw;
  max-width: 1100px;
  padding-left: 5.62vw;
  padding-right: 5.62vw;
  margin-left: auto;
  margin-right: auto;
}
.container.lg-container {
  max-width: 1300px;
}
.container.lg-container .wp-block-group {
  margin-left: calc(-100vw / 2 - 1300px / 2);
  margin-right: calc(-100vw / 2 - 1300px / 2);
}
.container.lg-container .wp-block-group > .wp-block-group__inner-container {
  width: 100vw;
  max-width: 1300px;
  padding-left: 5.62vw;
  padding-right: 5.62vw;
  margin-left: auto;
  margin-right: auto;
}
.container.lg-container .wp-block-code.full-width {
  margin-left: calc(-100vw / 2 - 1300px / 2);
  margin-right: calc(-100vw / 2 - 1300px / 2);
}
.container.lg-container .wp-block-code.full-width > code {
  width: 100vw;
  max-width: 1300px;
  padding-left: 5.62vw;
  padding-right: 5.62vw;
  margin-left: auto;
  margin-right: auto;
}
.container.xl-container {
  max-width: 1500px;
}
.container.xl-container .wp-block-group {
  margin-left: calc(-100vw / 2 - 1500px / 2);
  margin-right: calc(-100vw / 2 - 1500px / 2);
}
.container.xl-container .wp-block-group > .wp-block-group__inner-container {
  width: 100vw;
  max-width: 1500px;
  padding-left: 5.62vw;
  padding-right: 5.62vw;
  margin-left: auto;
  margin-right: auto;
}
.container.xl-container .wp-block-code.full-width {
  margin-left: calc(-100vw / 2 - 1500px / 2);
  margin-right: calc(-100vw / 2 - 1500px / 2);
}
.container.xl-container .wp-block-code.full-width > code {
  width: 100vw;
  max-width: 1500px;
  padding-left: 5.62vw;
  padding-right: 5.62vw;
  margin-left: auto;
  margin-right: auto;
}
.container .wp-block-group.skew:first-child {
  margin-top: -3.56vw;
}
.container .wp-block-group.skew:last-child {
  margin-bottom: -3.56vw;
}

.container-full {
  width: 100%;
  padding-left: 5.62vw;
  padding-right: 5.62vw;
}
.container-full .wp-block-group {
  margin-left: -5.62vw;
  margin-right: -5.62vw;
  padding: 5.62vw;
}
.container-full .wp-block-group.skew:first-child {
  margin-top: -3.56vw;
}
.container-full .wp-block-group.skew:last-child {
  margin-bottom: -3.56vw;
}
.container-full .wp-block-code.full-width {
  margin-left: -5.62vw;
  margin-right: -5.62vw;
  padding: 5.62vw;
}

.wp-block-group {
  position: relative;
  margin-top: 3.16rem;
}
.wp-block-group:not(.custom-bottom) {
  z-index: 1;
  padding-top: 3.16rem;
  padding-bottom: 3.16rem;
}
.wp-block-group + *:not(.wp-block-group) {
  margin-top: 3.16rem;
}
.wp-block-group + .wp-block-group {
  margin-top: 0;
}
.wp-block-group + .wp-block-code.full-width {
  margin-top: 0;
}
.wp-block-group > * {
  position: relative;
  z-index: 5;
}
.wp-block-group.primary-bg::before {
  background-color: #390099;
}
.wp-block-group.primary-bg::after {
  background-color: #390099;
}
.wp-block-group.secondary-bg::before {
  background-color: #3DDC97;
}
.wp-block-group.secondary-bg::after {
  background-color: #3DDC97;
}
.wp-block-group.tertiary-bg::before {
  background-color: #DFDCE5;
}
.wp-block-group.tertiary-bg::after {
  background-color: #DFDCE5;
}
.wp-block-group.skew {
  z-index: 2;
}
.wp-block-group.skew + .wp-block-group:not(.skew) {
  margin-top: -5.62vw;
  padding-top: calc(5.62vw * 3);
  padding-bottom: calc(5.62vw * 2);
  z-index: 1;
}
.wp-block-group:not(.skew) + .wp-block-group.skew {
  margin-top: -5.62vw;
  z-index: 0;
}
.wp-block-group.skew-left {
  background-color: transparent;
  padding-top: 5.62rem;
  padding-bottom: 5.62rem;
}
.wp-block-group.skew-left::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: skewY(-2.5deg);
          transform: skewY(-2.5deg);
}
.wp-block-group.skew-right {
  background-color: transparent;
  padding-top: 5.62rem;
  padding-bottom: 5.62rem;
}
.wp-block-group.skew-right::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: skewY(2.5deg);
          transform: skewY(2.5deg);
}
.wp-block-group .wp-block-group__inner-container > *:first-child {
  margin-top: 0;
}
.wp-block-group .wp-block-group__inner-container > *:first-child > *:first-child {
  margin-top: 0;
}
.wp-block-group .wp-block-group__inner-container > *:last-child {
  margin-bottom: 0;
}
.wp-block-group .wp-block-group__inner-container > *:last-child > *:last-child {
  margin-bottom: 0;
}

.wp-block-code {
  background-color: #e0e0e0;
  padding-top: 1.77rem;
  padding-bottom: 1.77rem;
}
.wp-block-code.full-width {
  margin-top: 3.16rem;
  margin-bottom: 3.16rem;
}
.wp-block-code:not(.full-width) {
  padding-left: 1.77rem;
  padding-right: 1.77rem;
}
.wp-block-code code {
  display: block;
}

/* Content */
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
#masthead {
  position: relative;
  z-index: 99;
  font-size: 1.33rem;
}
#masthead h1,
#masthead .site-brand {
  color: #ffffff;
  margin: 0;
  font-weight: 500;
  font-size: 2rem;
  text-decoration: none;
  display: block;
}
#masthead.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
#masthead .mobile-menu-toggle-container {
  display: none;
}
@media only screen and (max-width: 768px) {
  #masthead .mobile-menu-toggle-container {
    display: table-cell;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
#masthead .mobile-menu-toggle-container.visible-toggle {
  display: table-cell;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#overlay-nav {
  display: none;
}

.tagline {
  color: #ffffff;
  margin: 0 1rem;
  font-size: 1.13rem;
}
.tagline.tagline-bottom {
  margin: 0.42rem 0 0 0;
}
@media only screen and (max-width: 425px) {
  .tagline {
    display: none;
  }
}

.menu-toggle {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}
.menu-toggle::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0c9";
}
.menu-toggle.ellipsis-v::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f142";
}
.menu-toggle.ellipsis-h::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f141";
}
.menu-toggle.grip-lines::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f7a4";
}
.menu-toggle.stream::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f550";
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
main {
  padding: 0;
  font-size: 1.33rem;
  overflow: hidden;
}
main > .wrapper > :first-child:not(section) {
  margin-top: 0;
}
main > .wrapper > :last-child:not(section) {
  margin-bottom: 0;
}
main p {
  line-height: 1.5;
  margin-top: 1.77rem;
  margin-bottom: 1.77rem;
}
main p.wp-caption-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
main li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
main figcaption {
  font-size: 1rem;
}

.entry-header,
.page-header {
  margin-top: 3.16rem;
  margin-bottom: 3.16rem;
}
.entry-header h1,
.page-header h1 {
  margin: 0;
}

.entry-content,
.page-content {
  margin-bottom: 3.16rem;
}
.entry-content > :first-child,
.page-content > :first-child {
  margin-top: 0;
}
.entry-content > :first-child > :first-child,
.page-content > :first-child > :first-child {
  margin-top: 0;
}
.entry-content > :last-child,
.page-content > :last-child {
  margin-bottom: 0;
}
.entry-content > :last-child > :last-child,
.page-content > :last-child > :last-child {
  margin-bottom: 0;
}
.entry-content::after,
.page-content::after {
  content: "";
  display: table;
  clear: both;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Archives
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
footer {
  background-color: #390099;
  color: #fff;
  font-size: 1rem;
}
footer > .wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer a {
  color: #3DDC97;
}

/* Widgets */
/* Blocks */
/* Media */
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
