
@mixin media( $res ) {
	@if mobile == $res {
		@media only screen and (max-width: 425px) {
			@content;
		}
	}

	@if tablet == $res {
		@media only screen and (max-width: 768px) {
			@content;
		}
	}

	@if desktop == $res {
		@media only screen and (max-width: 1024px) {
			@content;
		}
	}
}