* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.1;
	font-size: 100%;
	width: 100%;
	overflow-x: hidden;
	background-color: $body_color;
	position: relative;
}

h1 {
	font-size: $size_14;
}

h2 {
	font-size: $size_13;
}

h3 {
	font-size: $size_12;
}

h4 {
	font-size: $size_11;
}

h5 {
	font-size: $size_10;
}

h6 {
	font-size: $size_9;
}

a {
	color: $primary_color;
}

article {
	width: 100%;
}

aside {
	width: 40%;

	&.left {
		margin-right: 5.62vw;
	}

	&.right {
		margin-left: 5.62vw;
	}
}

.widget-area {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget:nth-child(1) .widgettitle {
	margin-top: 0;
}

.wp-caption {
	font-size: $xs-font;
	max-width: 100%;

	&.alignleft,
	&.alignright {
		text-align: left;
	}

	&.aligncenter {
		text-align: center;
	}
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
	background-color: #282c34;
}

.line-numbers .line-numbers-rows {
	left: calc(#{$site_padding} - 3em);
}