#masthead {
	position: relative;
	z-index: 99;
	font-size: $md_font;

	h1,
	.site-brand {
		color: #ffffff;
		margin: 0;
		font-weight: 500;
		font-size: 2rem;
		text-decoration: none;
		display: block;
	}

	&.fixed {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
	}

	.mobile-menu-toggle-container {
		display: none;

		@include media( tablet ) {
			display: table-cell;
			@include flex;
		}

		&.visible-toggle {
			display: table-cell;
			@include flex;
		}
	}
}

#overlay-nav {
	display: none;
}

.tagline {
	color: #ffffff;
	margin: 0 $sp_4;
	font-size: $sm_font;


	&.tagline-bottom {
		margin: $sp_1 0 0 0;
	}

	@include media( mobile ) {
		display: none;
	}
}

.menu-toggle {
	border: none;
	background-color: transparent;
	font-size: $lg_font;
	cursor: pointer;

	&::after {
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f0c9";
	}

	&.ellipsis-v {
		&::after {
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: "\f142";
		}
	}

	&.ellipsis-h {
		&::after {
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: "\f141";
		}
	}

	&.grip-lines {
		&::after {
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: "\f7a4";
		}
	}

	&.stream {
		&::after {
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: "\f550";
		}
	}
}