
#main-menu,
#secondary-menu {
	margin: 0;
	list-style: none;
	padding: 0;

	@include media( tablet ) {
		display: none;
	}

	li a {
		color: #ffffff;
		font-size: $xs_font;
		padding: $sp_3 $sp_4;
		display: block;
		text-decoration: none;
	}

	.button a {
		background-color: $secondary_color;
		color: #000000;
		text-transform: uppercase;
		font-weight: bold;
		border-radius: 3px;
		transition: all .25s ease;
		margin-left: $size_7;

		&:hover,
		&:focus {
			background-color: #ffffff;
		}
	}

	.menu-item {
		position: relative;
	}

	.sub-menu {
		display: none;
		position: absolute;
		top: 100%;
		min-width: 100%;
		right: 0;
		background-color: $primary_color;
		padding: 0;
		list-style: none;
		text-align: right;

		.menu-item {
			white-space: nowrap;
		}

		a {
			color: #ffffff;
		}
	}
}

.menu-item-has-children > a {

	&::after {
		margin-left: $sp_1;
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f078";
		font-size: .65em;
		vertical-align: middle;
	}
}

.menu-item > a[target="_blank"] {

	&::after {
		margin-left: $sp_1;
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f35d";
		font-size: .65em;
		vertical-align: middle;
	}
}

#overlay-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;

	#main-nav {
		height: 100%;
		width: 100%;
		padding: $site_padding;
	}
}