.show-on-focus:not(:focus):not(:active) {
	clip: rect(0 0 0 0)!important;
	-webkit-clip-path: inset(50%)!important;
			clip-path: inset(50%)!important;
	height: 1px!important;
	overflow: hidden!important;
	position: absolute!important;
	width: 1px!important;
	white-space: nowrap!important;
}

.screen-reader-text {
	border: 0;
	clip: rect(0 0 0 0)!important;
	-webkit-clip-path: inset(50%);
			clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

.skip {
	position: absolute;
	top: 0;
	left: 0;
}