main {
	padding: 0;
	font-size: $md_font;
	overflow: hidden;

	> .wrapper {

		> :first-child:not(section) {
			margin-top: 0;
		}

		> :last-child:not(section) {
			margin-bottom: 0;
		}
		
	}

	p {
		line-height: 1.5;
		margin-top: $size_11;
		margin-bottom: $size_11;

		&.wp-caption-text {
			margin-top: $size_7;
			margin-bottom: $size_7;
		}
	}

	li {
		margin-top: $size_7;
		margin-bottom: $size_7;
	}

	figcaption {
		font-size: $xs_font;
	}
}

.entry-header,
.page-header {
	margin-top: $size_15;
	margin-bottom: $size_15;

	h1 {
		margin: 0;
	}
}

.entry-content,
.page-content {
	margin-bottom: $size_15;

	> :first-child {
		margin-top: 0;

		> :first-child {
			margin-top: 0;
		}
	}

	> :last-child {
		margin-bottom: 0;

		> :last-child {
			margin-bottom: 0;
		}
	}

	&::after {
		content: "";
		display: table;
		clear: both;
	}
}